
body {
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
}

#question-box, #answer-container, #scorecard-container, #landing-message, #scorecard, #highscores {
    background-color: antiquewhite;
    border: 1px solid #eceff1;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    text-align: center;

}

#answer-check{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width:400px;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #eceff1;
}

.hide {
    display:none;
}

.answer-button{
    flex-direction: row;
    display:inline-block;
    flex-wrap: wrap;    
    position: relative;
    width: 50%;
    height: 20%;
}
