body {
    font-family: Arial;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, #fcb045 100%);
}

header {
    display: flex;
    justify-content: space-between;
}

#answer-check {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid black;
}

#input-box, #formSubmitButton {
    background-color: #ee80aa6c;
    border-radius: 5px;
    box-shadow: 2px 2px 20px #ae1d546a;
    border:none;
    outline: none;
}


#start-button{
    background-color: #d338736a;
    box-shadow: 2px 2px 20px #ae1d546a;
    border: 1px solid #ae1d5532;
    border-radius: 20px;
    padding: 5px 10px;

}

.container {
    box-shadow: 2px 2px 20px #ae1d546a;
    background-color: #cb26656a;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    text-align: center;
    justify-content: center;
}

.hide {
    display: none;
}

.answer-button {
    flex-direction: row;
    width: 45%;
    height: 30%;
    border-radius: 25px;
    border: none;
    background-color: #ee80aa6c;
}